<section class="menu-list">
  <h2 class="menu-list__title">Our Menu</h2>

  <div class="menu-list__container" *ngIf="menuItems$ | async as items">
    <article 
      *ngFor="let item of items; trackBy: trackByItemId" 
      class="menu-item"
      [attr.data-id]="item.id">
      
      <div class="menu-item__header">
        <h3 class="menu-item__name">{{ item.name }}</h3>
        <span class="menu-item__price">{{ formatPrice(item.price) }}</span>
      </div>

      <p class="menu-item__description">
        {{ item.description }}
      </p>

      <div class="menu-item__footer" *ngIf="item.category">
        <span class="menu-item__category">{{ item.category }}</span>
      </div>

      <div class="menu-item__tooltip" *ngIf="item.imageUrl">
        <img [src]="item.imageUrl" [alt]="item.name" />
      </div>
    </article>
  </div>

  <div class="menu-list__empty" *ngIf="!(menuItems$ | async)">
    <p>Loading menu items...</p>
  </div>
</section>
